<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container ">
        <a class="navbar-brand" routerLink="">
            <img src="../assets/logo_text-2.svg" alt="logo">
        </a>
        <div class="notify-icon">
            <img src="../assets/icons/bell.png" alt="bell">
        </div>
        <button class="navbar-toggler" (click)="showNavs = !showNavs">
            <span>&#9776;</span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" [class.show]="showNavs">
            <ul class="navbar-nav mr-0">
                <li class="nav-item">
                    <a class="nav-link" href="/manager-panel">Manager timetable</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/hr-panel">HR timetable</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin-panel">Admin timetable</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>