nav.navbar{
    background-color: #c20a0b;
    .navbar-brand{
        img{
            margin-bottom: 4px;
        }
    }
    .navbar-toggler{
        color: white;
        border-color: rgba(255,255,255,0.4)
    }
    .notify-icon{
        img{
            height: 30px;
            width: auto;
            &:focus,
            &:active{
                background-color: rgba(255,255,255,0.2)
            }
        }
    }
    ul{
        li{
            text-align: right;
            &:focus,
            &:active{
                background-color: rgba(255,255,255,0.2)
            }
            a{
                color: white;
                text-transform: uppercase;
                font-size: 12px;
            }
        }
    }
}