<div class="actions py-3">
  <div class="container">
    <div class="row justify-content-end">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-light">Add arrival</button>
        <button type="button" class="btn btn-light">Add departure</button>
      </div>
    </div>
  </div>
</div>
